<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Computadoras</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <nav class="navbar-main">
    <a href="index.html">Inicio</a>
    <a href="computadoras.html" class="active">Computadoras</a>
    <a href="tabletas.html">Tabletas</a>
    <a href="libros.html">Libros</a>
    <a href="personas.html">Personas</a>
    <a href="reservas.html">Reservas</a>
    <a href="reportes.html">Reportes</a>
  </nav>
  <section>
    <h1 id="titulo">Computadoras</h1>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline search-container">
          <input class="form-control" type="search" placeholder="Buscar computadora" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
          <button id="gestionar"> Gestionar Computadoras </button>
        </form>
      </nav>
    </div>
  </section>

  <section class="cards-container">
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/815uX7wkOZS._AC_SL1500_.jpg"
        class="card-img-top" alt="80px">
      <div class="card-body">
        <h4 class="card-title">Laptop HP</h4>
        <ul class="Especificaciones">
          <li>Sistema Operativo: Windows 11</li>
          <li>Intel Celeron N4020</li>
          <li>RAM: 4GB</li>
          <li>Almacenamiento: 64GB</li>
          <li>Pantalla: 14" Full HD</li>
        </ul>
        <div class="card-body">
          <button> Reservar </button>
        </div>
      </div>
    </div>
  

  
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/71ox5Ij+88L._AC_SL1500_.jpg"
        class="card-img-top" alt="80px">
      <div class="card-body">
        <h4 class="card-title">Laptop BLUEING</h4>
        <ul class="Especificaciones">
          <li>Sistema Operativo: Windows 11</li>
          <li>Intel Quad-Core N5095</li>
          <li>RAM: 16GB</li>
          <li>Almacenamiento: 512GB SSD</li>
          <li>Pantalla: 15.6" Full HD</li>
        </ul>
        <div class="card-body">
          <button> Reservar </button>
        </div>
      </div>
    </div>


  
    <div class="card" style="width: 18rem;">
      <img src="https://m.media-amazon.com/images/I/61bjBghW2IL._AC_SL1480_.jpg"
        class="card-img-top" alt="80px">
      <div class="card-body">
        <h4 class="card-title">Laptop SGIN</h4>
        <ul class="Especificaciones">
          <li>Sistema Operativo: Windows 11</li>
          <li>Celeron N4000</li>
          <li>RAM: 4GB</li>
          <li>Almacenamiento: 128 GB</li>
          <li>Pantalla: 15.6" Full HD</li>
        </ul>
        <div class="card-body">
          <button> Reservar </button>
        </div>
      </div>
    </div>
  </section>

</body>

</html>