<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <title>Inventario Biblioteca</title>
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <nav class="navbar-main">
        <a href="index.html" class="active">Inicio</a>
        <a href="computadoras.html">Computadoras</a>
        <a href="tabletas.html">Tabletas</a>
        <a href="libros.html">Libros</a>
        <a href="personas.html">Personas</a>
        <a href="reservas.html">Reservas</a>
        <a href="reportes.html">Reportes</a>
    </nav>
    <section>
        <h1 id="titulo">Biblioteca del Liceo San José</h1>
        <div class="container">
            <p>Bienvenido/a. Click para ir a una categoría:</p>
            <div class="cards-container">
                <div class="card" style="width: 18rem;">
                    <img src="https://img.freepik.com/vector-premium/diseno-plano-icono-portatil_23-2148083760.jpg"
                        alt="Computadoras" class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Computadoras</h4>
                        <a href="computadoras.html">
                            <button>Ir a Computadoras</button>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/685/685655.png" alt="Tabletas"
                        class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Tabletas</h4>
                        <a href="tabletas.html">
                            <button>Ir a Tabletas</button>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/3062/3062634.png" alt="Libros"
                        class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Libros</h4>
                        <a href="libros.html">
                            <button>Ir a Libros</button>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/149/149071.png" alt="Personas"
                        class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Personas</h4>
                        <a href="personas.html">
                            <button>Ir a Personas</button>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/684/684908.png" alt="Reservas"
                        class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Reservas</h4>
                        <a href="reservas.html">
                            <button>Ir a Reservas</button>
                        </a>
                    </div>
                </div>
                <div class="card" style="width: 18rem;">
                    <img src="https://cdn-icons-png.flaticon.com/512/1828/1828919.png" alt="Reportes"
                        class="card-img-top">
                    <div class="card-body">
                        <h4 class="card-title">Reportes</h4>
                        <a href="reportes.html">
                            <button>Ir a Reportes</button>
                        </a>
                    </div>
                </div>
    </section>
</body>

</html>