<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Personas</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <section>
    <h1 id="titulo">Personas</h1>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline search-container">
          <input class="form-control" type="search" placeholder="Buscar persona" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
          <button id="gestionar"> Gestionar Personas </button>
        </form>
      </nav>
    </div>
  </section>
</body>
</html>