<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8">
  <title>Tabletas</title>
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>
  <nav class="navbar-main">
    <a href="index.html">Inicio</a>
    <a href="computadoras.html">Computadoras</a>
    <a href="tabletas.html" class="active">Tabletas</a>
    <a href="libros.html">Libros</a>
    <a href="personas.html">Personas</a>
    <a href="reservas.html">Reservas</a>
    <a href="reportes.html">Reportes</a>
  </nav>
  <section>
    <h1 id="titulo">Tabletas</h1>
    <div class="container">
      <nav class="navbar navbar-light bg-light">
        <form class="form-inline search-container">
          <input class="form-control" type="search" placeholder="Buscar tableta" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Buscar</button>
          <button id="gestionar"> Gestionar Tabletas </button>
        </form>
      </nav>
    </div>
  </section>
</body>

</html>